<template>
  <!-- Global website template -->
  <div id="app">
    <v-app>
      <!-- Page header -->
      <page-header/>
      <!-- Main content of each page -->
      <main>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </main>
      <!-- Page footer -->
      <page-footer/>
    </v-app>
  </div>
</template>

<script>
// Import page components
import PageHeader from '@/components/Header.vue'
import PageFooter from '@/components/Footer.vue'

// Export page components
export default {
  name: 'app',
  components: {
    PageHeader,
    PageFooter
  }
}
</script>

<!-- Design Components of this page only -->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#app {
  /* Declaring fonts */
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  /* Enable antialiasing */
  -webkit-font-smoothing: antialiased;
  /* Enable grayscale font smoothing */
  -moz-osx-font-smoothing: grayscale;
  /* Align text at center */
  text-align: center;
  /* Adjust overall height */
  margin-top: -44px;
  /* Setting overall height */
  height: 100%;
  /* Setting the overall background color */
  /* background-color: rgb(141, 141, 141); */
  background-color: aliceblue;
}
/* Handle overflow automatically */
html {
  overflow-y: auto;
}
</style>
