<template>
  <!-- Main Content of the about page-->
  <div id="impressum">
    <v-card color="grey lighten-2">
      <v-card-text>
        <!-- About the providers and developers of the website AppCheck-->
        <div id="about">
          <!-- One of the main headings of the page-->
          <h2>About Us</h2>
          <br>
          <p>
            AppCheck is provided by Software Technology Group @ TU Darmstadt and developed
            by a team of 5 computer science students:
            Ioannis Mittas, Timo Dreher, Hatice Irem Diril, Melanie Jehn and Robert Mutua.
          </p>
          <p>
            Many android applications have been launched as technology has evolved.
            However, access to personal information of users became easier.
            We especially research whether the applications are suitable for children by COPPA standards.
            Our aim is to give users the necessary information before they download android applications
            to make them aware of the usage of the private data they share.
          </p>
          <p>
            Appcheck has currently {{apps.total}} Android Applications, that have been checked by Software Technology Group.
            <br>
          </p>
        </div>
        <br>
        <br>
        <!-- How the providers analyze the Android Applications-->
        <div id="procedure">
          <!-- Another main heading of the page-->
          <h2>About the analyzing procedure</h2>
          <br>
          <p>--------your info----------</p> -->
        </div>
        <br>
        <br>
        <!-- Explanation of the Children’s Online Privacy Protection Act-->
        <div id="coppa">
        <!-- Another main heading of the page-->
        <h2>COPPA conformity of Applications</h2>
        <br>
        <p>The Children’s Online Privacy Protection Act (COPPA) is a United States federal law, effective in April 2000, to protect privacy information of children under the age of 13. It is enforced by the Federal Trade Commission (FTA) and defines a set of rules that websites must obey about the treatment of personal data collected from children. This includes which information may only be collected with the permission of a parent or a guardian and what must be stated in the privacy policies of website operators.</p>
        <p>Further information about COPPA can be found on the official website:
          <a href="http://www.coppa.org">www.coppa.org</a>.
        </p>
        <p>Apps that are COPPA conform are marked with a blue badge containing a C on the Browse site.</p>
        </div>
        <br>
        <br>
        <!-- Explanation of the different types of permissions -->
        <div id="permissions">
          <!-- Another main heading of the page -->
          <h2>Types of Permissions</h2>
          <br>
          <p>
            Our website features two different types of permissions that apps can aquire.
            There are normal and dangerous permissions. The meaning of each type is explained here.
          </p>
          <p>
            <b>Normal</b>: These permissions are of no risk to your privacy or to the operation of your device.
            They are granted to your app automatically by the system.
          </p>
          <p>
            <b>Dangerous</b>: These permissions are potentially of risk to your privacy or the operation of your device.
            The app must ask the user for permission to aquire one of them. Apps that use dangerous permissions are marked
            with a red badge containing a security icon on the browse site.
          </p>
          <!-- <p><b>Signature</b>: These permissions are granted during installation time if the app requesting the permission
          and the app that defines the permission are signed by the same certificate.</p>-->
        </div>
        <br>
        <br>
        <!-- What users should pay attention to, as they use AppCheck-->
        <div id="terms">
          <!-- Another main heading of the page-->
          <h2>Terms of Service</h2>
          <br>
          <!-- This date must be renewed continously-->
          <p>
            Last updated:
            <font color="blue">
              <b>{{lu}}</b>
            </font>
          </p>
          <p>
            Please read these Terms of Service carefully before using
            appcheck operated by TU Darmstadt.
          </p>
          <p>
            Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
            These Terms apply to all visitors, users and others who access or use the Service.
          </p>
          <p>
            By accessing or using the Service you agree to be bound by these Terms.
            If you disagree with any part of the terms then you may not access the Service.
          </p>
          <!-- Terms for the third-party web sites or services-->
          <h3>Links to other Web Sites</h3>
          <br>
          <p>
            Our Service may contain links to third-party web sites or services that are not owned or controlled by TU Darmstadt.
            TU Darmstadt has no control over and assumes no responsibility for the content, privacy policies, or practices
            of any third party web sites or services. You further acknowledge and agree that
            TU Darmstadt shall not be responsible or liable, directly or indirectly, for any damage or loss caused or
            alleged to be caused by or in connection with use of or reliance on any such content, goods or services
            available on or through any such web sites or services.
          </p>
          <!-- To own the right for changing the website anytime-->
          <h3>Changes</h3>
          <br>
          <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time.
            If a revision is material we will try to provide at least
            30 days notice prior to any new terms taking effect.
            What constitutes a material change will be determined at our sole discretion.
          </p>
          <!-- Contact infos for users-->
          <h3>Contact Us</h3>
          <br>
          <p>If you have any questions about these Terms, please contact us.</p>
          <p>
            <span>
              Technische Universität Darmstadt
              <br>Karolinenplatz 5
              <br>64289 Darmstadt
            </span>
          </p>
        </div>
      </v-card-text>
    </v-card>
    <br>
    <v-btn
      v-scroll-to="{el:'#impressum', duration:500, offset:-80}"
      dark
      fixed
      fab
      right
      bottom
      color="blue"
    >
      <v-icon>expand_less</v-icon>
    </v-btn>
  </div>
</template>

<script>
// Imports
import AppService from '@/services/AppService'
import LastUpdate from '../../../server/src/update.js'

export default {
  data () {
    // Global data
    return {
      apps: '',
      lu: LastUpdate
    }
  },
  // Get app data from the server
  async mounted (value) {
    this.apps = (await AppService.index(value)).data.apps
  }
}
</script>

<!-- Design Components of this page only -->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Setting the font size to medium for each paragraph and setting the font color to black for each paragraph */
p {
  font-size: medium;
  color: black;
}
/* Fixing the text to the left for about part */
#about {
  text-align: left;
}
/* Fixing the text to the left for procedure part */
#procedure {
  text-align: left;
}
/* Fixing the text to the left for terms part */
#terms {
  text-align: left;
}
/* Arranging the top of the margin to 120 pixels for impressum part and setting the font family to Arial for impressum part */
#impressum {
  margin-top: 100px;
  font-family: Arial;
}
/* Fixing the text to the left for coppa part */
#coppa {
  text-align: left;
}
/* Fixing the text to the left for permissions part */
#permissions {
  text-align: left;
}
#analyzing {
  text-align: left;
}
</style>
