<template>
  <div id="appView">
    <v-container>
      <v-layout justify-center align-start fill-height>
        <v-flex lg10>
          <!-- Outer card -->
          <v-card class="outerCard" color="grey lighten-2">
            <v-card-actions class="justify-center">
              <!-- App icon -->
              <v-img v-bind:src="app.pkgInfo.icon" max-height="100" max-width="100"/>
            </v-card-actions>
            <!-- App name and version -->
            <v-card-text>
              <h2>
                <strong>{{getName(app)}}</strong>
              </h2>
              <h5>
                <strong>Version: {{getVersion(app)}}</strong>
              </h5>
            </v-card-text>
            <v-spacer></v-spacer>
            <br>
            <!-- Permissions shown as cards -->
            <h2>Permissions:</h2>
            <v-container grid-list-sm fluid>
              <!-- Normal permissions -->
              <h3 v-if="normalIcons.length > 0">Normal</h3>
              <v-layout row wrap align-start justify-center>
                <v-flex md4 v-for="Icon in normalIcons" :key="Icon._id">
                  <div>
                    <v-card class="card" color="#ECECB7" height="100">
                      <v-container grid-list-xs fluid fill-height>
                        <v-layout row justify-start align-center>
                          <div class="icon">
                            <v-card-action>
                              <v-icon size="60">{{Icon}}</v-icon>
                            </v-card-action>
                          </div>
                          <v-card-text>
                            <span>{{findPermission(Icon)}}</span>
                          </v-card-text>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
            <v-container grid-list-sm fluid>
              <!-- Dangerous permissions -->
              <h3 v-if="dangerousIcons.length > 0">Dangerous</h3>
              <v-layout row wrap align-start justify-center>
                <v-flex md4 v-for="Icon in dangerousIcons" :key="Icon._id">
                  <div>
                    <v-card class="card" color="#ECB0A9" height="100">
                      <v-container grid-list-xs fluid fill-height>
                        <v-layout row justify-start align-center>
                          <div class="icon">
                            <v-card-action>
                              <v-icon size="60">{{Icon}}</v-icon>
                            </v-card-action>
                          </div>
                          <v-card-text>
                            <span>{{findPermission(Icon)}}</span>
                          </v-card-text>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
            <!-- Advanced info -->
            <div class="panel">
              <v-expansion-panel inset>
                <v-expansion-panel-content class="blue lighten-2">
                  <div slot="header">
                    <v-layout>
                      <v-flex>
                        <v-subheader>
                          <h3>Show advanced information</h3>
                        </v-subheader>
                      </v-flex>
                      <v-spacer></v-spacer>
                    </v-layout>
                  </div>
                  <v-card class="infoCard" color="blue lighten-2">
                    <v-card-text>
                      <highlight-code class="code" lang="javascript">{{app.methods}}</highlight-code>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </div>
            <br>
          </v-card>
          <!-- Floating bottom to the top -->
          <div class="topBtn">
            <v-btn
              v-scroll-to="{el:'#appView', duration:500, offset:-80}"
              dark
              fixed
              fab
              right
              bottom
              color="blue"
            >
              <v-icon>expand_less</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// Imports
import AppService from '@/services/AppService'
import uniq from 'lodash/uniq'
import appPermissions from '@/assets/permissions.js'

export default {
  data () {
    return {
      // Global data
      app: {
        normal_permissions: [],
        dangerous_permissions: [],
        usesPermissions: [],
        application: {
          label: []
        }
      },
      showAdvanced: false,
      array: {
        icons: [],
        permissions: []
      },
      permissions: appPermissions
    }
  },
  async mounted () {
    // Stores the appId and requests its data from the server
    const appId = this.$store.state.route.params.appId
    this.app =
      (await AppService.show(appId)).data.app ||
      (await AppService.show(appId)).data.app.docs
  },
  computed: {
    // Removes app icon duplicates if included in the app permissions
    normalIcons () {
      var arr = []
      var curAppPermissions = []
      // Get the app permissions and save them in curAppPermissions
      for (var j = 0; j < this.app.pkgInfo.usesPermissions.length; j++) {
        curAppPermissions.push(
          this.app.pkgInfo.usesPermissions[j].name.toString().substring(19)
        )
      }
      // Save the needed icons in arr
      for (var i = 0; i < 60; i++) {
        if (curAppPermissions.includes(this.permissions[i].name)) {
          arr.push(this.permissions[i].icon)
        }
      }
      // Removes duplicates and returns the array
      return uniq(arr)
    },
    dangerousIcons () {
      var arr = []
      var curAppPermissions = []
      // Get the app permissions and save them in curAppPermissions
      for (var j = 0; j < this.app.pkgInfo.usesPermissions.length; j++) {
        curAppPermissions.push(
          this.app.pkgInfo.usesPermissions[j].name.toString().substring(19)
        )
      }
      // Save the needed icons in arr
      for (var i = 60; i < this.permissions.length; i++) {
        if (curAppPermissions.includes(this.permissions[i].name)) {
          arr.push(this.permissions[i].icon)
        }
      }
      // Removes duplicates and returns the array
      return uniq(arr)
    }
  },
  methods: {
    // Returns the correct permission for each icon
    findPermission: function (icon) {
      var arr = []
      var per = []
      // Get the app permissions and save them in per
      for (var j = 0; j < this.app.pkgInfo.usesPermissions.length; j++) {
        per.push(
          this.app.pkgInfo.usesPermissions[j].name.toString().substring(19)
        )
      }
      for (var i = 0; i < this.permissions.length; i++) {
        if (
          icon === this.permissions[i].icon &&
          per.includes(this.permissions[i].name)
        ) {
          arr.push(this.permissions[i].name)
        }
      }
      arr = arr.join(', ')
      arr = arr.toString()
      // Replace all underscores with empty spaces
      arr = arr.replace(/_/g, '\n')
      // Convert string to lower case
      arr = arr.toLowerCase()
      return arr
    },
    // Returns the version of the app
    getVersion: function (app) {
      if (Array.isArray(app.pkgInfo.versionName)) {
        return app.pkgInfo.versionName[0]
      }
      return app.pkgInfo.versionName
    },
    // Returns the name of the app
    getName: function (app) {
      if (Array.isArray(app.pkgInfo.application.label)) {
        return app.pkgInfo.application.label[0]
      } else {
        return app.pkgInfo.application.label
      }
    }
  }
}
</script>

<!-- Design Components of this page only-->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* Ajdusting the overall height */
#appView {
  margin-top: 100px;
  overflow: auto;
}
/* Adjusting the icons hover animation */
.card {
  /* Setting the icon cards min width */
  min-width: 170px;
  /* Hide text overflow in icon animation */
  overflow: hidden;
}
/* Fixing the outer card position */
.outerCard {
  margin-top: -24px;
}
/* Hide overflow of the info card */
.infoCard {
  overflow: hidden;
}
</style>
