<template>
  <div id="apps">
    <!-- COPPA badge, uncomment the following to use -->
    <div class="note">
      <v-badge color="blue" left class="text-xs-left">
        <v-icon slot="badge" dark small>C</v-icon>
        <span>
          <h3>
            Applications marked with this badge are COPPA conform. See About for details.
          </h3>
        </span>
      </v-badge>
    </div>
    <!-- Badge for apps with dangerous permissions explanation -->
    <div class="note1">
      <!-- Dangerous permission badge -->
      <v-badge color="red" left class="text-xs-left">
        <v-icon slot="badge" small dark>security</v-icon>
        <span>
          <h3>Applications marked with this badge use dangerous permissions. See About for details.</h3>
        </span>
      </v-badge>
    </div>
    <!--Navigation drawer to search for apps and permissions-->
    <v-layout wrap style="height: 200px;">
      <v-container>
        <v-layout justify-center>
          <!-- Button that controls visibility of the drawer -->
          <v-btn color="blue" dark @click.stop="drawer = !drawer">Filter By ...</v-btn>
        </v-layout>
      </v-container>
      <!-- Navigation drawer layout, can be minimized -->
      <v-navigation-drawer v-model="drawer" :mini-variant="mini" dark temporary class="drawer" app>
        <v-list class="pa-1">
          <v-list-tile v-if="mini" @click.stop="mini = !mini">
            <v-list-tile-action>
              <v-icon>chevron_right</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <!-- Header icon for the navigation drawer -->
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <v-icon>search</v-icon>
            </v-list-tile-avatar>
            <!-- Name of the navigation drawer -->
            <v-list-tile-content>
              <v-list-tile-title>Filter By ...</v-list-tile-title>
            </v-list-tile-content>
            <!-- Minimizes navigation drawer by click on left arrow -->
            <v-list-tile-action>
              <v-btn icon @click.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
          <v-divider light></v-divider>
          <!-- List the search filters for the navigation drawer -->
          <v-list-tile v-for="item in items" :key="item.title" @click="filter(item)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-layout>
    <v-container class="cards" grid-list-md text-xs-center fluid>
      <v-layout row wrap align-start justify-start fill-height>
        <!-- Iterating over all apps and show them as card -->
        <v-flex md3 v-for="app in apps" :key="app._id">
          <router-link slot="action" :to="'browse/' + app._id" class="appView-link">
            <v-card v-if="app.pkgInfo !== undefined && app.pkgInfo.application !== undefined" class="card" color="grey lighten-2" hover height="200">
              <v-card-actions class="justify-center">
                <v-spacer></v-spacer>
                <!-- App icon -->
                <v-img
                  class="icons"
                  v-bind:src="app.pkgInfo.icon"
                  max-height="100"
                  max-width="100"
                />
                <v-spacer></v-spacer>
                <div>
                <div name='coppa'>
                <!--Add badge to coopa conform apps-->
                <v-badge color="blue" top left name='coppa1'>
                  <!--Add the badge icon only if the method is_coppa_conform returns true, display a C in the badge-->
                  <v-icon v-if="is_coppa_conform(getName(app))" slot="badge" dark small>C</v-icon>
                  <span name='coppa2'></span>
                </v-badge>
                </div>
                <br>
                <!-- Dangerous permission badge -->
                <div name='dangerous'>
                <v-badge color="red" bottom left name='dangerous1'>
                  <v-icon v-if="hasDangerousPermissions(app)" slot="badge" dark small>security</v-icon>
                </v-badge>
                <span></span>
                </div>
                </div>
              </v-card-actions>
              <v-card-text>
                <div>
                  <div>
                    <h3 class="name">
                      <v-chip outline label text-color="black">{{getName(app)}}</v-chip>
                    </h3>
                  </div>
                  <!-- App version -->
                  <div class="text-xs-center">
                    <h5>Version: {{getVersion(app)}}</h5>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </router-link>
        </v-flex>
      </v-layout>
      <br>
      <!-- Button to the top of the website -->
      <v-layout justify-center align-content-end>
        <v-btn
          v-scroll-to="{el:'#apps', duration:500, offset:-80}"
          dark
          fixed
          fab
          right
          bottom
          color="blue"
        >
          <v-icon>expand_less</v-icon>
        </v-btn>
      </v-layout>
    </v-container>
    <div class="text-xs-center">
      <!-- Pagination of Browse -->
      <v-pagination
        v-scroll-to="{el:'#apps', duration:500, offset:-90}"
        dark
        v-model="page"
        :length="page + 5"
        total-visible="7"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
// Imports
import AppService from '@/services/AppService'
import _ from 'lodash'
import appPermissions from '@/assets/permissions.js'
import items from '@/assets/items.js'
import search from '@/components/Header.vue'

export default {
  data () {
    // Global data
    return {
      search: search,
      page: '',
      apps: null,
      pageInfo: '',
      permissions: appPermissions,
      // Controls visibility of the navigation drawer
      drawer: null,
      // List of items by which to sort/filter the applications
      items: items,
      mini: false,
      right: null,
      coppa_conform: ['Flip a Coin', 'Bakaski', 'crane_origami', 'monolog4', 'Car Wash Salon', 'MatchShapWd']
    }
  },
  watch: {
    // Watcher for the search field which changes the url dynamically
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        // Get the requested app/data from the server
        this.apps =
          (await AppService.index(value)).data.apps.docs ||
          (await AppService.index(value)).data.apps
      }
    },
    page: _.debounce(async function (value) {
      const route = {
        name: 'browse'
      }
      // Push the route of the current page if not empty
      route.query = {
        page: this.page
      }
      if (this.search !== undefined) {
        this.$router.push(route)
      }
      // Delay of 0ms
    }, 0),
    // Add query to url
    '$route.query.page': {
      immediate: true,
      async handler (value) {
        // Get the requested app/data from the server
        this.apps = (await AppService.showPage(value)).data.apps.docs
        this.pageInfo = (await AppService.showPage(value)).data.apps
        this.page = this.pageInfo.page
      }
    }
  },
  methods: {
    // Sorts the apps alphabetically descending by name -> dead code now
    sortapps: function () {
      if (this.apps.pkgInfo.application.label !== undefined && this.apps.pkgInfo.application !== undefined) {
        this.apps = _.sortBy(this.apps, app =>
          app.pkgInfo.application.label.toString().toLowerCase()
        )
      } else {
        return _.sortBy(this.apps, app =>
          app.pkgInfo.application.label
        )
      }
    },
    // Returns if an app is in the coppa conform list
    is_coppa_conform: function (appname) {
      return this.coppa_conform.includes(appname)
    },
    // returns the version of the app
    getVersion: function (app) {
      if (Array.isArray(app.pkgInfo.versionName)) {
        return app.pkgInfo.versionName[0]
      }
      return app.pkgInfo.versionName
    },
    // Returns the name of the app
    getName: function (app) {
      if (Array.isArray(app.pkgInfo.application.label)) {
        return app.pkgInfo.application.label[0]
      } else {
        return app.pkgInfo.application.label
      }
    },
    // Returns true if the app has dangerous permissions
    hasDangerousPermissions: function (app) {
      var curAppPermissions = []
      // Get the app permissions and save them in curAppPermissions
      for (var j = 0; j < app.pkgInfo.usesPermissions.length; j++) {
        curAppPermissions.push(
          app.pkgInfo.usesPermissions[j].name.toString().substring(19)
        )
      }
      // Check for each permission whether it is dangerous or not, return true on first dangerous permission found
      for (var i = 60; i < this.permissions.length; i++) {
        if (curAppPermissions.includes(this.permissions[i].name)) {
          return true
        }
      }
      return false
    },
    // Returns true if the app uses a permission in iconPermissions
    matchesCriterion: function (app, iconPermissions) {
      var curAppPermissions = []
      // Get the app permissions and save them in curAppPermissions
      for (var j = 0; j < app.pkgInfo.usesPermissions.length; j++) {
        curAppPermissions.push(
          app.pkgInfo.usesPermissions[j].name.toString().substring(19)
        )
      }
      // For each permission in iconPermissions check if the app uses it
      for (var i = 0; i < iconPermissions.length; i++) {
        if (curAppPermissions.includes(iconPermissions[i])) {
          return true
        }
      }
      return false
    },
    // Returns the correct permission for the icon
    findPermissions: function (icon) {
      var arr = []
      for (var i = 0; i < this.permissions.length; i++) {
        if (icon === this.permissions[i].icon) {
          arr.push(this.permissions[i].name)
        }
      }
      return arr
    },
    // Navigation drawer actions
    filter: async function (item) {
      this.apps =
        (await AppService.showPage('')).data.apps.docs ||
        (await AppService.showPage('')).data.apps
      this.drawer = !this.drawer
      switch (item.title) {
        // Sort the apps alphabetically
        case 'Sort by name':
          this.apps = _.sortBy(this.apps, app =>
            app.pkgInfo.application.label.toString().toLowerCase()
          )
          break
        // Return al apps with dangerous permissions
        case 'All dangerous permissions':
          var arr = []
          for (var i = 0; i < this.apps.length; i++) {
            if (this.hasDangerousPermissions(this.apps[i])) {
              arr.push(this.apps[i])
            }
          }
          this.apps = arr
          break
        // Return all COPPA conform apps
        case 'COPPA conform':
          var arr3 = []
          for (var k = 0; k < this.apps.length; k++) {
            if (this.is_coppa_conform(this.getName(this.apps[k]))) {
              arr3.push(this.apps[k])
            }
          }
          this.apps = arr3
          break
        // For all other items return apps that use a permission that corresponds to the item icon
        default:
          var arr2 = []
          for (var j = 0; j < this.apps.length; j++) {
            if (
              this.matchesCriterion(
                this.apps[j],
                this.findPermissions(item.icon)
              )
            ) {
              arr2.push(this.apps[j])
            }
          }
          this.apps = arr2
      }
    }
  }
}
</script>

<!-- Design Components of this page only-->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* No text decoration for hyperlinks */
a {
  text-decoration: none;
}
/* Adjusting the height of the app name */
.name {
  margin-top: -20px;
}
/* Adjusting the overall height */
#apps {
  margin-top: 90px;
}
/* Adjusting the height of the container */
.container {
  margin-top: -15px;
}
/* Adjust the positon of the note towards the header and the sort button; aligns the text to the left */
.note {
  margin-top: 3cm;
  margin-left: 1cm;
  margin-bottom: 5px;
  text-align: left;
}
.note1 {
  margin-top: 0.5cm;
  margin-left: 1cm;
  margin-bottom: 5px;
  text-align: left;
}
.drawer {
  margin-top: 20px;
}
.card {
  overflow: hidden;
}
.cards {
  margin-top: -150px;
}
.coppa {
  margin-right: -1cm;
}
.dangerous {
  margin-left: 100px;
}
</style>
