<template>
  <!-- Main Content of the footer-->
  <div class="footer">
    <!-- Setting footer color to given value and height flexible to the opened window-->
    <v-footer dark height="auto" color="#17252a">
      <v-layout justify-left>
        <v-flex md7>
          <v-card color="#17252a" flat>
            <v-card-actions>
              <span>
                <!-- Button links to the about page -->
                <router-link to="/about">
                  <!-- Adding terms of service button to the footer with the color of white-->
                  <v-btn color="white" small flat>Terms of Service</v-btn>
                </router-link>
              </span>
              <v-spacer></v-spacer>
              <span class="titel">
                <!-- Adding AppCheck to the footer-->
                &copy;2019 —
                <!-- Adding AppCheck to the footer-->
                <strong>appcheck</strong>
              </span>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </div>
</template>

<!-- Design Components of this page only-->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Fixing the footer to the bottom of the website */
.footer {
  /* Positioned the footer relative to the nearest positioned ancestor */
  position: absolute;
  /* No edges from left for footer */
  left: 0;
  /* No edges from bottom for footer */
  bottom: 0;
  /* The width is arrangable to the opened window for footer */
  width: 100%;
  /* Fixed height to 0cm for footer */
  height: 0cm;
}
/* No text decoraiton at all for hyperlinks */
a {
  text-decoration: none;
}
/* Fixing titel position */
.titel {
  margin-right: 40px;
}
</style>
