<template>
  <!-- Header of the Website-->
  <div class="header">
    <!-- Toolbar -->
    <v-toolbar fixed color="#191970" height="60">
      <router-link to="/">
        <!-- Toolbar title -->
        <v-toolbar-title class="mr-5">
          <font id="home" color="white">
            <strong>appcheck</strong>
          </font>
        </v-toolbar-title>
      </router-link>
      <!-- Toolbar buttons -->
      <v-toolbar-items>
        <v-btn
          to="/browse?page=1"
          small
          flat
          color="white"
          v-scroll-to="{el:'#apps', duration:500, offset:-90}"
        >Browse</v-btn>
        <v-btn
          to="/about"
          small
          flat
          color="white"
          v-scroll-to="{el:'#impressum', duration:500, offset:-90}"
        >About</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <!-- Search field -->
      <v-toolbar-items>
        <div>
          <v-text-field
            primary
            color="white"
            label="Search analyzed apps"
            v-model="search"
            append-icon="search"
            class="textfield"
            dark
          ></v-text-field>
        </div>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
// Imports
import _ from 'lodash'

export default {
  data () {
    // Global data
    return {
      search: ''
    }
  },
  watch: {
    // Watcher for the toolbar search field
    search: _.debounce(async function (value) {
      const route = {
        name: 'browse'
      }
      // Push the route if the query is not empty
      if (this.$router.currentRoute.name !== '' && this.search !== undefined) {
        route.query = {
          search: this.search
        }
        this.$router.push(route)
      }
      // Delay of 700ms
    }, 1000),
    // Add query to url
    '$route.query.search': {
      immediate: true,
      handler (value) {
        this.search = value
      }
    }
  }
}
</script>

<!-- Design Components of this page only -->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Show diffrent color when hovering over toolbar title */
#home:hover {
  color: lightskyblue;
}
/* No text decoraiton at all for hype rlinks */
a {
  text-decoration: none;
}
/* Adjust height of the browser link */
.browse-link {
  margin-top: 0.6cm;
}
/* Adjust height of the about link */
.about-link {
  margin-top: 0.6cm;
}
</style>
