<template>
  <!-- Main Content of the homepage-->
  <div id="home">
    <div class="welcome">
      <div class="title">
        <!-- Main heading of the homepage-->
        <h1>
          discover the privacy cost
          <br>of your android apps
        </h1>
      </div>
      <br>
      <div class="subtitle">
        <!-- Subheading of the homepage-->
        <h4>browse for an app to see what permissions are really used,</h4>
        <h4>there are currently {{apps.total}} apps in our database.</h4>
      </div>
    </div>
  </div>
</template>

<script>
// Imports
import Browse from '@/components/Browse'
import AppService from '@/services/AppService'

export default {
  data () {
    // Global data
    return {
      apps: Browse.pageInfo
    }
  },
  watch: {
    // Add query to url and get data
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.apps = (await AppService.index(value)).data.apps
      }
    }
  }
}
</script>

<!-- Design components of this page only-->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Import the font family to be able to use it later */
@import url("https://fonts.googleapis.com/css?family=Righteous");

#home {
  /* Setting the background image for homepage */
  background: url("../assets/homeBackground.png");
  /* Arranging the background image to the whole homepage flexible */
  background-position: 100% 100%;
  /* Resizing the background image to cover the entire container */
  background-size: cover;
  /* Background image has no repeat */
  background-repeat: no-repeat;
  /* Fixing the position */
  position: fixed;
  /* No edges from top */
  top: 0;
  /* No edges from left */
  left: 0;
  /* The width is arrangable to the opened window */
  width: 100%;
  /* The height is arrangable to the opened window */
  height: 100%;
  /* Fixing the text to the left for terms part */
  text-align: left;
  /* Setting the font family to Righteous for homepage */
  font-family: "Righteous";
}
.welcome {
  /* Arranging the top of the margin to 100 pixels for welcome part */
  margin-top: 100px;
  /* Arranging the left of the margin to 50 pixels for welcome part */
  margin-left: 50px;
}
/* Setting the font color to given rgb values for subtitle part */
.subtitle {
  -webkit-text-fill-color: rgb(196, 196, 196);
  margin-bottom: 150px;
}
/* Text color of the title */
.title {
  -webkit-text-fill-color: white;
}
</style>
